h1 {
  color: rgb(185, 29, 185);
  background-color: rgb(248, 248, 162) ;
  border: 1px solid black;
  font-family: Courier;
}

h2 {
    font-family: verdana;
}
h3 {
   font-family: verdana;
     background-color: rgb(147, 247, 213) ;
     border: 1.5px solid black;
     padding: 10px;
}
li {
  background: rgb(98, 98, 233);
  border: 2.5px solid black;
  padding: 10px;
  margin: 10px;
  font-family: calibri;
}
button {
  background-color: orange;
}
main-heading {
  color : black
}
